html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: rgb(44, 27, 7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}


.container{
    align-items: center;
    flex: 1;
}

h2{
    text-align: center;
    
}

.navbar{
    background-color: rgb(190, 205, 197);
}

.iconos{
    margin-top: 10px;
}

.iconos a:not(:first-child){
    border-left: 1px solid white;
    padding-left: 10px;
    margin-left: 10px;
}

.empresa_f{
    font-size: 1.5rem;
}

.foot{
    padding-top: 10px;
}